body {
  background-color: #ffffff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

     
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
    
   
footer {
    /*background-color: #2c2424;
    border-radius: 15px;
    box-shadow: 2px 5px 12px #888888;*/
    color: #00264d;
    padding: 0px;
}



.bg-1 { 
    background-image: linear-gradient(to bottom right, #001a33, #00264d,#006699, #1ac6ff); 
    border-radius: 15px;
    box-shadow: 2px 5px 12px #888888;
    color: #ffffff;
}
.bg-2 { 
    background-color: #ffffff; 
    border-radius: 15px;
    box-shadow: 2px 5px 12px #888888;
    color: #00264d;
}
.bg-3 { 
    background-color: #ffffff; 
    color: #00264d;
}
.bg-4 { 
    background-color: #2f2f2f; 
    color: #ffffff;
}

.hover-lightup:hover {
    color: #66ffff;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }

a:hover {
    color: #66ffff;
}
